.btn {
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;

  border-style: solid;
  border-width: 1px;
  border-color: black;

  font-family: Arial;
  color: #ffffff;
  font-size: 17px;
  background: #0b5c8e;
  padding: 5px 15px 5px 15px;
  text-decoration: none;
}

.btn:hover {
  background: #3e5a9c;
  color: #ffffff;
}

.btn:active {
  background: #5379d1;
  color: #ffffff;
}


.btnsmall {
  background: #cccccc;
  color: black;
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;

  border-style: solid;
  border-width: 1px;
  border-color: black;

  font-family: Arial;
  font-size: 16px;
  text-decoration: none;
}

.btnsmall:hover {
  background: #3E4349;
  color: #ffffff;
}

.btnsmall:active {
  background: black;
  color: #ffffff;
}