<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>CoverView GUI</title>

    <!-- Bootstrap Core CSS -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="static/css/simple-sidebar.css" rel="stylesheet">

    <link href="static/css/tables.css" rel="stylesheet">
    <link href="static/css/radio.css" rel="stylesheet">

    <link href="static/css/buttons.css" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <style style="text/css">

        td.column1 {
            width: 50%;
            border-collapse:collapse;
            text-align:left;
            table-layout: fixed;
            background-color:  #0b5c8e;
            color: white;
            font-size: 19px;
            border: black 1px solid;
        }

        td.column2 {
            width: 50%;
            border-collapse:collapse;
            text-align:left;
            table-layout: fixed;
            background-color: #e6e8ed;
            color: black;
            font-size: 19px;
            border: black 1px solid;
        }

    </style>

</head>

<body>


<script type="text/javascript">


</script>


    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand"><a href="/">CoverView GUI</a></li>
                <li id="thispage"><a href="/analysis">Analysis View</a></li>
                <li><a href="/genes">Genes View</a></li>
                <li><a href="/regions">Regions View</a></li>
                <li><a href="/profiles">Profiles View</a></li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid" style="position: relative; top: 10px">


                <div class="row">
                    <div class="col-lg-12">
                        <h1>Analysis</h1>
                        <br/>

                    </div>
                </div>


                <div class="row" style="position: relative; top: 0px">
                    <div class="col-lg-12">
                            <table id="infotable" class="table" align="center" rows=11 style="position: relative; top: 80px; width: 50%; -webkit-touch-callout: none;
                            -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;">
                                <tr>
                                    <td class="column1"> Date of analysis:</td>
                                    <td class="column2"> {{metadata.date}} </td>
                                </tr>
                                <tr>
                                    <td class="column1"> Duplicatee reads:</td>
                                    <td class="column2"> Included </td>
                                </tr>
                                <tr>
                                    <td class="column1"> Definition of PASS:</td>
                                    <td class="column2"> blablablablablablabla </td>
                                </tr>
                                <tr>
                                    <td class="column1"> Hello:</td>
                                    <td class="column2"> Bello </td>
                                </tr>


                            </table>
                    </div>
                </div>


                <div class="row" style="position: relative; top: 120px">
                    <div class="col-lg-12">
                            <table id="resultstable" class="table" align="center" rows=11 style="width: 50%; -webkit-touch-callout: none;
                            -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;">
                                <tr>
                                    <td class="column1"> Number of failed genes:</td>
                                    <td class="column2"> xxx </td>
                                </tr>
                                <tr>
                                    <td class="column1"> Number of failed regions:</td>
                                    <td class="column2"> xxxx </td>
                                </tr>


                            </table>
                    </div>
                </div>

            </div>

        </div>

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="static/js/bootstrap.min.js"></script>

</body>

</html>
