<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>CoverView GUI</title>

    <!-- Bootstrap Core CSS -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="static/css/simple-sidebar.css" rel="stylesheet">

    <link href="static/css/tables.css" rel="stylesheet">
    <link href="static/css/radio.css" rel="stylesheet">

    <link href="static/css/buttons.css" rel="stylesheet">

    <style style="text/css">

        html, body { margin: 0; padding: 0}

        div.scroll  {
            width: 100%;
            overflow-y: scroll;
            max-height: 505px;
        }

        ::-webkit-scrollbar {
            display: none;
        }

        .option input[type='radio'] {
            border: 0;
            clip: rect(0 0 0 0);
            height: 1px;
            margin: -1px;
            overflow: hidden;
            padding: 0;
            position: absolute;
            width: 1px;
        }
        .option label:not(.titlelabel){
            font-size: 17px;
            font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
            display:inline-block;
            width:5em;
            margin:0 0em;
            border-radius:6px;
            background:#dae1ed;
            color:#000;
            border:3px solid #ccc;
            text-align:center;
            line-height:1.8em;
            cursor:pointer;
        }
        .option input[type='radio']:checked + label{
            font-size: 17px;
            font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
            background:#0b5c8e;
            color: white;
            border:1px solid #000;
        }

        .titlelabel {
            color: black;
            font-size: 22px;
            font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
            display:inline-block;
            width:100px;
            margin:0 0em;
            text-align:right;
            line-height:1.8em;
            cursor:pointer;
            padding: 5px;
        }

        #myInput {
            background-image: url('/static/searchicon.png');
            background-repeat: no-repeat;
            background-position: 2px 4px;
            background-size: 35px auto;

            width: 170px;
            font-size: 17px;
            padding: 12px 20px 12px 40px;
            border: 1px solid darkgray;
            margin-bottom: 12px;
        }


    </style>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

</head>

<body>



<script type="text/javascript">

      $(document).ready(function(){

          var chroms = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,'X','Y'];

          window.selected = '';

          window.listed = 'all';

          window.ctx = $('#canvas')[0].getContext("2d");


          $.jqplot.config.enablePlugins = true;


          var RCs = {{summary|tojson}};
          var chrom_names = ['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','X','Y'];
          var RCINs = [];
          var RCOUTs = [];
          $.each(chrom_names, function(index, item) {
                RCINs.push(Number(RCs[item]['RCIN']));
                RCOUTs.push(Number(RCs[item]['RCOUT']));
          });


        var chromPlot = $.jqplot('cplot',[RCINs,RCOUTs], {
            seriesColors: ['#00749F', 'darkred'],
            stackSeries: true,
		    captureRightClick: true,
		    seriesDefaults:{
		      renderer: $.jqplot.BarRenderer,
		      rendererOptions: {
		          barMargin: 8,
		          highlightMouseDown: false,
                  barPadding: 4,
		      },
		      pointLabels: {show: false}
		    },
			cursor: {
			        show: false
			      },
		    legend: {
                renderer: $.jqplot.EnhancedLegendRenderer,
		      show: true,
		      location: 'nw',
		      placement: 'insideGrid',
                rendererOptions: {
                    fontSize: "16px"
                }
            },
            axesDefaults: {

                tickOptions: {

                    fontSize: '16px'
                }
            },
            axes: {
                xaxis: {
	  			  renderer: $.jqplot.CategoryAxisRenderer,
	              rendererOptions: {  tickRenderer: $.jqplot.AxisTickRenderer,
	                                  tickOptions: {  mark: null,
	                                                  fontSize: 17
	                                               }
	              },
	              ticks: chroms

                },
                yaxis: {
		        padMin: 0,
                    fontSize: 15
                },
            },

			series:[
				{label: 'On target RC'},
				{label: 'Off target RC'}
			],
			highlighter: {
				show: true,
				sizeAdjust: 0,
				tooltipAxes: "y",
				formatString: "%d",
			}

		  });


          $('#cplot').bind('jqplotDataClick',
            function (ev, seriesIndex, pointIndex, data) {

                $("#linker").hide();

                var clicked = chroms[pointIndex];

                var canvas = document.getElementById("canvas");

                window.ctx.clearRect(0, 0, canvas.width, canvas.height);
                window.ctx.beginPath();

                if (clicked != window.selected) {
                    var pix = chromPlot.axes.xaxis.u2p(data[0]);
                    window.ctx.strokeStyle = "black";
                    window.ctx.moveTo(pix, 0);
                    window.ctx.lineTo(pix + 10, 20);
                    window.ctx.lineTo(pix - 10, 20);
                    window.ctx.lineTo(pix, 0);
                    window.ctx.stroke();
                    window.ctx.fillStyle = "black";
                    window.ctx.fill();

                    window.selected = clicked;

                    $("#title").html('Chr'+window.selected+' selected; listing genes on chromosome');

                }
                else {
                    window.selected = '';
                    $("#title").html('No chromosome selected; listing all genes');
                }

                loadTable();


            }
        );

          loadAllGenes();

      });


      function loadTable(){
          if (window.selected == '')
              loadAllGenes();
          else
              loadGenesOfChromosome(window.selected);
      }


    function swapRowSelection(row) {
        var selected = $(row).hasClass("selected");
        $("#contentrows tr").removeClass("selected");
        $("#linker").hide();
        if(!selected) {
            $(row).addClass("selected");
            $("#linker").show();
        }
    };


    function loadAllGenes(){

        $('#contentrows tr').remove();

        var rows = '';
        var counter = 0;
        $.each({{ all_genes|tojson }}, function(index, item) {

            if (window.listed == 'passed' && item['failedexons'] > 0)
                return true;
             if (window.listed == 'failed' && item['failedexons'] == 0)
                 return true;

            var row =  '<tr onclick="swapRowSelection(this);" >';

            row += '<td>' + item['gene'] + '</td>';
            row += '<td>' + item['exons'] + '</td>';

            if (item['failedexons'] == 0)
                row += '<td>' + item['failedexons']+ '</td>';
            else
                row += '<td style="color: #e22c11; font-weight: bold;">' + item['failedexons'] + '</td>';

            rows += row + '</tr>';

            counter = counter+1;
        });

        $('#contentrows').html(rows);

        if (counter==0)
            $('#noregion').show();
        else
            $('#noregion').hide();

        if ("{{togene}}" != ''){
            var rowToSelect = $("tr").filter(function() {
        	return $(this).find('td:first').text() == "{{togene}}" ;
            }).closest("tr");

            swapRowSelection(rowToSelect);

            var container = $('#scroller');
            container.scrollTop(0);
            container.scrollTop(rowToSelect.offset().top - container.offset().top - 200);
        }

    };


    function loadGenesOfChromosome(chrom){

        $('#contentrows tr').remove();

        data = {{ genes_by_chrom|tojson }}

        var rows = '';
        var counter = 0;
        $.each(data[chrom], function(index, item) {

            if (window.listed == 'passed' && item['failedexons'] > 0)
                return true;
             if (window.listed == 'failed' && item['failedexons'] == 0)
                 return true;

            var row =  '<tr onclick="swapRowSelection(this);" >';

            row += '<td>' + item['gene'] + '</td>';
            row += '<td>' + item['exons'] + '</td>';

            if (item['failedexons'] == 0)
                row += '<td>' + item['failedexons']+ '</td>';
            else
                row += '<td style="color: #e22c11; font-weight: bold;">' + item['failedexons'] + '</td>';

            rows += row + '</tr>';

            counter = counter+1;
        });

        $('#contentrows').html(rows);

        if (counter==0)
            $('#noregion').show();
        else
            $('#noregion').hide();

    };




    function switchToAllListed() {
        window.listed = 'all';
        loadTable();
    };

    function switchToPassedListed() {
        window.listed = 'passed';
        loadTable();
    };

    function switchToFailedListed() {
        window.listed = 'failed';
        loadTable();
    };


    function whichSelected(){
        var sel = '';
        $('.selected').each(function() {
            sel = $(this).find('td:first').text();
        });
        return sel
    };

    function goToRegionsView(failed){
        setRegionsViewValues('', whichSelected(), failed)
        window.location = '/regions';
    }

    function doSearch(){
        $('#noregion').hide()
          var input, filter, table, tr, td, i;
          input = document.getElementById("myInput");
          window.searched = input.value.toUpperCase();
          filter = window.searched;
          table = document.getElementById("contentrows");
          var counter = 0;
          tr = table.getElementsByTagName("tr");
          for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
              if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                tr[i].style.display = "";
                  counter = counter + 1;
              } else {
                tr[i].style.display = "none";
              }
            }
          }
          if (counter==0){
              $('#noregion').show();
              $('#contentrows tr').removeClass("selected");
              $('#linker').hide();
          }
    }


</script>


    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand"><a href="/">CoverView GUI</a></li>
                <li><a href="/analysis">Analysis View</a></li>
                <li id="thispage" onclick="goToDefaultGenesView();">Genes View</li>
                <li onclick="goToDefaultRegionsView();">Regions View</li>
                <li onclick="goToDefaultProfilesView();">Profiles View</li>
                <li><a href="/usage">Usage Guide</a></li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid" style="position: relative; top: 10px">


                <div class="row">
                    <div class="col-lg-12">
                        <h1>Genes</h1>
                    </div>
                </div>

                <div class="row" style="position: relative; top: 20px">

                    <div class="col-lg-8">

                        <div style="text-align: right; position: relative;">
                            <h3 id="title">No chromosome selected; listing all genes</h3>
                        </div>

                        <div id="cplot" style="height: 530px; width: 100%; "></div>

                        <div width=100% style="align: center;">
                            <canvas id="canvas" height=20px width=900px style="align: center;"></canvas>
                        </div>

                    </div>

                    <div class="col-lg-4" style="position: relative; top: 15px">

                        <table class="table" rows=1 style="margin: 0px;">
                            <tr style="border-collapse:collapse; text-align:center; table-layout: fixed; background-color: #0b5c8e; color: white; font-size: 17px; border: black 1px solid;">
                                <td>Gene name</td>
                                <td>Regions</td>
                                <td>Failed regions</td>
                            </tr>
                        </table>


                        <div class='scroll' id="scroller" style="margin-top: 0px; margin-bottom: 0px; text-align:right;">
                            <table id="contentrows" class="table hoverTable" rows=11 style="cursor: pointer; -webkit-touch-callout: none;
                            -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;">


                            </table>
                        </div>

                        <div hidden id="noregion" align="center" class="row" style="position: relative;">
                            <h3>No regions to show</h3>
                        </div>

                        <form id="settings2" class="option" style="position: relative; top: 20px; " >

                            <label class="titlelabel">Genes:</label>

		                    <input type="radio" name="option" id="all" value="all" onclick="switchToAllListed();" checked>
		                    <label for="all">All</label>

		                    <input type="radio" name="option" id="passed" value="passed" onclick="switchToPassedListed();">
		                    <label for="passed">Passed</label>

		                    <input type="radio" name="option" id="failed" value="failed" onclick="switchToFailedListed();">
		                    <label for="failed">Failed</label>

                            <input type="text" style="position: relative; top: 10px; left: 20px;" autocomplete="off" id="myInput" onkeyup="doSearch();" placeholder="Search..." title="Type in a name">



                        </form>



                    </div>


                </div>


                <div class="row" style="position: relative; top: 20px">


                    <div class="col-lg-6">

                        <div hidden id="linker" align="left" class="row" style="position: relative; top: 10px;">
                    <div class="col-lg-12">

                            <button name="goto" onclick="goToRegionsView(false);" class="btn"">&#8599; Show Regions</button>
                            <button name="goto" onclick="goToRegionsView(true);" class="btn">&#8599; Show Failed Regions</button>

                    </div>
                </div>

                    </div>

                    <div class="col-lg-6">



                    </div>


                </div>



            </div>

        </div>

    </div>
    <!-- /#wrapper -->

    <script type="text/javascript" src="static/js/utils.js"></script>

    <!-- jQuery -->
    <script src="static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="static/js/bootstrap.min.js"></script>


    <script type="text/javascript" src="static/jqplot/jquery.jqplot.js"></script>
    <script type="text/javascript" src="static/jqplot/plugins/jqplot.barRenderer.js"></script>
    <script type="text/javascript" src="static/jqplot/plugins/jqplot.pieRenderer.js"></script>
    <script type="text/javascript" src="static/jqplot/plugins/jqplot.categoryAxisRenderer.js"></script>
    <script type="text/javascript" src="static/jqplot/plugins/jqplot.pointLabels.js"></script>
    <script type="text/javascript" src="static/jqplot/plugins/jqplot.canvasTextRenderer.js"></script>
    <script type="text/javascript" src="static/jqplot/plugins/jqplot.canvasAxisLabelRenderer.js"></script>
    <script type="text/javascript" src="static/jqplot/plugins/jqplot.cursor.js"></script>
	<script type="text/javascript" src="static/jqplot/plugins/jqplot.highlighter.js"></script>

    <script type="text/javascript" src="static/jqplot/plugins/jqplot.enhancedLegendRenderer.js"></script>

    <link rel="stylesheet" type="text/css" href="static/jqplot/jquery.jqplot.css" />

</body>

</html>
