<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>CoverView GUI</title>

    <!-- Bootstrap Core CSS -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="static/css/simple-sidebar.css" rel="stylesheet">

    <link href="static/css/tables.css" rel="stylesheet">
    <link href="static/css/radio.css" rel="stylesheet">

    <link href="static/css/buttons.css" rel="stylesheet">


    <style style="text/css">

        html, body { margin: 0; padding: 0}

        div.scroll  {
            width: 100%;
            overflow-y: scroll;
            max-height: 440px;
        }

        ::-webkit-scrollbar {
            display: none;
        }

        td.column1 {
            width: 14%;
        }

        td.column2 {
            width: 10%;
        }

        td.column3 {
            width: 12%;
        }

        td.column4 {
            width: 8%;
        }


        .option input[type='radio'] {
            border: 0;
            clip: rect(0 0 0 0);
            height: 1px;
            margin: -1px;
            overflow: hidden;
            padding: 0;
            position: absolute;
            width: 1px;
        }
        .option label:not(.titlelabel){
            font-size: 17px;
            font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
            display:inline-block;
            width:5em;
            margin:0 0em;
            border-radius:6px;
            background:#dae1ed;
            color:#000;
            border:3px solid #ccc;
            text-align:center;
            line-height:1.8em;
            cursor:pointer;
        }
        .option input[type='radio']:checked + label{
            font-size: 17px;
            font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
            background:#0b5c8e;
            color: white;
            border:1px solid #000;
        }

        .titlelabel {
            color: black;
            font-size: 22px;
            font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
            display:inline-block;
            width:100px;
            margin:0 0em;
            text-align:right;
            line-height:1.8em;
            cursor:pointer;
            padding: 5px;
        }

        #myInput {
            background-image: url('/static/searchicon.png');
            background-repeat: no-repeat;
            background-position: 2px 4px;
            background-size: 35px auto;

            width: 170px;
            font-size: 17px;
            padding: 12px 20px 12px 40px;
            border: 1px solid darkgray;
            margin-bottom: 12px;
        }

    </style>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

</head>

<body>


<script type="text/javascript">


    var strandShown = 'both';
    var listed = 'all';
    var searched = '';

	$(document).ready(function(){

        $('#noregion').hide()
        $("#linker").hide();
        var data =  {{ results|tojson }}
        loadTable('contentrows', window.strandShown,  window.listed, data);

        if ("{{region}}" != ''){

            var rowToSelect = $("tr").filter(function() {
                return $(this).find('td:first').text() == "{{region}}" ;
            }).closest("tr");

            swapRowSelection(rowToSelect);

            var container = $('#scroller');
            container.scrollTop(0);
            container.scrollTop(rowToSelect.offset().top - container.offset().top - 200);
        }

	});

    function swapRowSelection(row) {
        var selected = $(row).hasClass("selected");
        $("#contentrows tr").removeClass("selected");
        $("#linker").hide();
        if(!selected) {
            $(row).addClass("selected");
            $("#linker").show();
        }
    };


    function whichSelected(){
        var sel = '';
        $('.selected').each(function() {
            sel = $(this).find('td:first').text();
        });
        return sel
    };


    function saveRegionName(){
        $.ajax({
            url: '/regions',
            data: {"region": whichSelected()},
            type: 'POST',
            success: function(response) {
            },
            error: function(error) {
            }
        });
    };

    function goToProfilesView(){
        saveRegionName();
        window.location = '/profiles';
    };

    function goToGenesView(){
        saveRegionName();
        window.location = '/genes';
    };

    function switchToBothStrands() {
        var data =  {{ results|tojson }}
        window.strandShown = 'both';
        loadTable('contentrows', window.strandShown, window.listed, data);
    };

    function switchToForwardStrand() {
        var data =  {{ results|tojson }}
        window.strandShown = 'forward';
        loadTable('contentrows', window.strandShown, window.listed, data);
    };

    function switchToReverseStrand() {
        var data =  {{ results|tojson }}
        window.strandShown = 'reverse';
        loadTable('contentrows', window.strandShown, window.listed, data);
    };


    function switchToAllListed() {
        var data =  {{ results|tojson }}
        window.listed = 'all';
        loadTable('contentrows', window.strandShown, window.listed, data);
    };

    function switchToPassedListed() {
        var data =  {{ results|tojson }}
        window.listed = 'passed';
        loadTable('contentrows', window.strandShown, window.listed, data);
    };

    function switchToFailedListed() {
        var data =  {{ results|tojson }}
        window.listed = 'failed';
        loadTable('contentrows', window.strandShown, window.listed, data);
    };



    function doSearch() {
          $('#noregion').hide()
          var input, filter, table, tr, td, i;
          input = document.getElementById("myInput");
          window.searched = input.value.toUpperCase();
          filter = window.searched;
          table = document.getElementById("contentrows");
          var counter = 0;
          tr = table.getElementsByTagName("tr");
          for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
              if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                tr[i].style.display = "";
                  counter = counter + 1;
              } else {
                tr[i].style.display = "none";
              }
            }
          }
          if (counter==0){
              $('#noregion').show();
              $('#contentrows tr').removeClass("selected");
              $('#linker').hide();s
          }
};


function loadTable(tableId, strand, listed, data) {

    $('#noregion').hide();

    var sel = '';
    $('.selected').each(function() {
        sel = $(this).find('td:first').text();
    });

    $('#' + tableId + ' tr').remove();

    if (strand=='both') {
        var fields = ['region','rc','medcov','mincov','medqcov','minqcov','maxflbq','maxflmq','pass_or_fail']
    }
    else if (strand=='forward') {
        var fields = ['region','rc+','medcov+','mincov+','medqcov+','minqcov+','maxflbq+','maxflmq+','pass_or_fail']
    }
    else {
        var fields = ['region','rc-','medcov-','mincov-','medqcov-','minqcov-','maxflbq-','maxflmq-','pass_or_fail']
    }

    var criteria = {{ pass_def|tojson }};

    var rows = '';
    $.each(data, function(index, item) {


        if (item[fields[8]] == "PASS" && listed == 'failed')
            return true;

        if (item[fields[8]] == "FAIL" && listed == 'passed')
            return true;

        var row =  '<tr onclick="swapRowSelection(this);" >';

        row += '<td class="column1">' + item[fields[0]] + '</td>';
        row += '<td class="column2">' + item[fields[1]] + '</td>';


        if (strand=='both' && 'MEDCOV_MIN' in criteria && Number(item[fields[2]]) < Number(criteria['MEDCOV_MIN'])){
            row += '<td class="column3" style="color: #e22c11; font-weight: bold;">' + item[fields[2]] + '</td>';
        }
        else {
            row += '<td class="column3">' + item[fields[2]] + '</td>';
        }

        if (strand=='both' && 'MINCOV_MIN' in criteria && Number(item[fields[3]]) < Number(criteria['MINCOV_MIN'])){
            row += '<td class="column3" style="color: #e22c11; font-weight: bold;">' + item[fields[3]] + '</td>';
        }
        else {
            row += '<td class="column3">' + item[fields[3]] + '</td>';
        }

        if (strand=='both' && 'MEDQCOV_MIN' in criteria && Number(item[fields[4]]) < Number(criteria['MEDQCOV_MIN'])){
            row += '<td class="column3" style="color: #e22c11; font-weight: bold;">' + item[fields[4]] + '</td>';
        }
        else {
            row += '<td class="column3">' + item[fields[4]] + '</td>';
        }

        if (strand=='both' && 'MINQCOV_MIN' in criteria && Number(item[fields[5]]) < Number(criteria['MINQCOV_MIN'])){
            row += '<td class="column3" style="color: #e22c11; font-weight: bold;">' + item[fields[5]] + '</td>';
        }
        else {
            row += '<td class="column3">' + item[fields[5]] + '</td>';
        }

        if (strand=='both' && 'MAXFLBQ_MAX' in criteria && (item[fields[6]]=='--' || Number(item[fields[6]]) > Number(criteria['MAXFLBQ_MAX']))  ){
            row += '<td class="column3" style="color: #e22c11; font-weight: bold;">' + item[fields[6]] + '</td>';
        }
        else {
            row += '<td class="column3">' + item[fields[6]] + '</td>';
        }


        if (strand=='both' && 'MAXFLMQ_MAX' in criteria && (item[fields[7]]=='--' || Number(item[fields[7]]) > Number(criteria['MAXFLMQ_MAX'])) ){
            row += '<td class="column3" style="color: #e22c11; font-weight: bold;">' + item[fields[7]] + '</td>';
        }
        else {
            row += '<td class="column3">' + item[fields[7]] + '</td>';
        }


        if (item[fields[8]] == "PASS")
            row += '<td class="column4">' + item[fields[8]] + '</td>';
        else
            row += '<td class="column4" style="color: #e22c11; font-weight: bold;">' + item[fields[8]] + '</td>';

        rows += row + '</tr>';
    });
    $('#' + tableId).html(rows);

    $('#settings').show()

    $('#' + tableId + ' tr').each(function() {
        if ($(this).find('td:first').text() == sel)
            swapRowSelection(this);
    });

    if (window.searched != "")
        doSearch();
}

</script>


    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand"><a href="/">CoverView GUI</a></li>
                <li><a href="/analysis">Analysis View</a></li>
                <li><a href="/genes">Genes View</a></li>
                <li id="thispage"><a href="/regions">Regions View</a></li>
                <li><a href="/profiles">Profiles View</a></li>
                <li><a href="/usage">Usage Guide</a></li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid" style="position: relative; top: 10px">


                <div class="row">
                    <div class="col-lg-12">
                        <h1>Regions</h1>
                        <br/>

                        <table class="table" rows=1 style="margin: 0px;">
                            <tr style="border-collapse:collapse; text-align:center; table-layout: fixed; background-color: #0b5c8e; color: white; font-size: 17px; border: black 1px solid;">
                                <td class="column1">Region name</td>
                                <td class="column2">RC</td>
                                <td class="column2">MEDCOV</td>
                                <td class="column2">MINCOV</td>
                                <td class="column3">MEDQCOV</td>
                                <td class="column3">MINQCOV</td>
                                <td class="column3">MAXFLBQ</td>
                                <td class="column3">MAXFLMQ</td>
                                <td class="column4">PASS?</td>
                            </tr>
                        </table>


                    </div>
                </div>

                <div class="row" style="position: relative; top: 0px">
                    <div class="col-lg-12">
                        <div class='scroll' id="scroller" style="margin-top: 0px; margin-bottom: 0px; text-align:right;">
                            <table id="contentrows" class="table hoverTable" rows=11 style="cursor: pointer; -webkit-touch-callout: none;
                            -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;">

                            </table>
                        </div>
                    </div>
                </div>

                <div hidden id="noregion" align="center" class="row" style="position: relative;">
                    <div class="col-lg-12">
                        <h3>No regions to show</h3>
                    </div>
                </div>



                <div class="row" style="position: relative; top: 5px">
                    <div class="col-lg-12">



                        <form hidden id="settings" class="option">

                            <input type="text" autocomplete="off" id="myInput" onkeyup="doSearch();" placeholder="Search..." title="Type in a name">

                            <span style="position: relative; left: 20px;">

                            <label class="titlelabel">Regions:</label>

		                    <input type="radio" name="option" id="all" value="all" onclick="switchToAllListed();" checked>
		                    <label for="all">All</label>

		                    <input type="radio" name="option" id="passed" value="passed" onclick="switchToPassedListed();">
		                    <label for="passed">Passed</label>

		                    <input type="radio" name="option" id="failed" value="failed" onclick="switchToFailedListed();">
		                    <label for="failed">Failed</label>


                            <span style="position: relative; left: 5px;">
                            <label class="titlelabel">Reads:</label>

		                    <input type="radio" name="option2" id="allreads" value="all" onclick="switchToBothStrands();" checked>
		                    <label for="allreads">All</label>

		                    <input type="radio" name="option2" id="forward" value="forward" onclick="switchToForwardStrand();">
		                    <label for="forward">Forward</label>

		                    <input type="radio" name="option2" id="reverse" value="reverse" onclick="switchToReverseStrand();">
		                    <label for="reverse">Reverse</label>

                            </span>




                        </form>









                    </div>
                </div>

                <div hidden id="linker" align="left" class="row" style="position: relative; top: 10px;">
                    <div class="col-lg-12">

                            <button name="goto" onclick="goToProfilesView();" class="btn"">&#8599; Show Profiles</button>
                            <button name="goto" onclick="goToGenesView();" class="btn">&#8599; Show Gene</button>

                    </div>
                </div>





            </div>

        </div>

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="static/js/bootstrap.min.js"></script>

</body>

</html>
